<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

{%- assign title = "" -%}
{%- include snippets/get-article-title.html article=page -%}
{%- if page.use_page_title_as_title -%}
  {% comment %}
    Use the page title as the title if it is available.
  {% endcomment %}
  {%- if __return -%}
    {%- assign title = __return -%}
  {%- else -%}
    {%- assign title = site.title -%}
  {%- endif -%}
{%- else -%}
  {% comment %}
    Otherwise, use `page title - site title`
  {% endcomment %}
  {%- if __return -%}
    {%- assign title =  __return | append: ' - ' | append: site.title -%}
  {%- else -%}
    {%- assign title = site.title -%}
  {%- endif -%}
{%- endif -%}
<title>{{ title }}</title>

{%- assign description = "" -%}
{%- if page.excerpt -%}
  {%- assign description = page.excerpt | strip_html | strip_newlines | strip
                           | truncate: 160 -%}
{%- else -%}
  {%- assign description = site.description -%}
{%- endif -%}
<meta name="description" content="{{ description }}">

<link rel="canonical" href="{%- include snippets/page-url.html -%}">

<!-- Open Graph -->
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{%- include snippets/page-url.html -%}" />
<meta property="og:image" content="{{ "/assets/img/graphic-design/mountain-explorer-blue.png" | absolute_url }}" />
<meta property="og:description" content="{{ description }}" />

{%- assign _paths_rss = site.paths.rss | default: site.data.variables.default.paths.rss -%}
{%- include snippets/get-nav-url.html path=_paths_rss -%}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ __return }}">

{%- include head/favicon.html -%}

{%- include snippets/prepend-baseurl.html path='/assets/css/main.css' -%}
<link rel="stylesheet" href="{{ __return }}">

<!-- FontAwesome and Academicons -->
{%- include snippets/get-sources.html -%}
{%- assign _sources = __return -%}
<link rel="stylesheet" href="{{ _sources.font_awesome }}" >
<link rel="stylesheet" href="{{ _sources.academicons }}" >

<!-- Webpack -->
{%- if page.use_webpack -%}
<script type="text/javascript" src="/assets/bundle/bundle.js" defer></script>
<link rel="stylesheet" href="/assets/bundle/bundle.css">
{%- endif -%}

{%- include head/custom.html -%}
