# JavaScript
node_modules/
.npm
.eslintcache
.node_repl_history
*.tgz
src/assets/bundle

# Jekyll
build/
_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache/

# Ruby / Bundler
.bundle/
vendor/

# Editor
*.swp
.vscode/
