---
layout: page
title: projects
permalink: /projects/
# description: A growing collection of your cool projects.
---

<div class="card-container">
  {% for project in site.projects %}
  <div class="card">
    {% if project.redirect %}
    <a href="{{ project.redirect }}" target="_blank">
    {% else %}
    <a href="{{ project.url | prepend: site.baseurl }}">
    {% endif %}

    <img src="{{ project.img | prepend: site.baseurl }}" />
    <h5>{{project.title}}</h5>
    <p>{{project.description}}</p>

    </a>
  </div>
  {% endfor %}
</div>
