// Colors
$color-primary: #e62020;
$color-lighter-bkgd: #f2f2f2;
$color-darker-bkgd-1: #e2e2e2;
$color-darker-bkgd-2: #d2d2d2;
$color-darker-bkgd-3: #8f8f8f;

$color-solve: #008000; // Green
$color-bad: #e62020; // Red
$color-cur: #2b65ec; // Ocean blue
$color-neutral: #222;
$text-color: #222;

$board-light-color: #f2d9b9; // Lighter brown
$board-dark-color: #b98768; // Darker brown

$border-color: white;

// Sizes
$responsive-width: 950px;
$radius: 10px;

#NQueens {
  .main {
    display: block;
    padding: 20px;
    border-radius: $radius;
    text-align: center;
    background-color: white;
    color: $text-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.23);
    overflow: hidden;
  }

  // Controls
  .control {
    background-color: $color-lighter-bkgd;
    padding: 10px 20px;
    border-radius: $radius;

    display: inline-block;
    float: left;
    width: 250px;

    @media screen and (max-width: $responsive-width) {
      margin-bottom: 20px;
      display: block;
      float: none;
      width: 100%;
    }

    .control-name {
      font-weight: bold;
      text-align: left;
      margin-bottom: 8px;
    }

    // Slider
    .rangeslider {
      background-color: $color-darker-bkgd-1;
      box-shadow: none;
      margin-top: 8px;
      margin-bottom: 40px;
    }
    .rangeslider__fill {
      box-shadow: none;
      background-color: $color-primary;
    }
    .rangeslider__handle {
      box-shadow: none;
    }
    .rangeslider__handle::after {
      display: none;
    }
    .rangeslider__labels {
      margin-top: 0px;
      margin-left: 0px;
    }

    // Buttons
    .buttons {
      margin-top: 5px;
    }
    .command {
      font-weight: bold;
      background-color: $color-darker-bkgd-1;

      border-radius: 20px;
      width: 37px;
      height: 37px;
      margin: 5px 2px;

      &:hover {
        background-color: $color-darker-bkgd-2;
      }
      &:active {
        background-color: $color-darker-bkgd-3;
      }
    }
    .reset {
      color: $color-neutral;
    }
    .step {
      color: $color-cur;
    }
    .run {
      color: $color-solve;
    }
    .fast {
      color: #893bff;
    }
    .stop {
      color: $color-bad;
    }

    .message,
    .steps {
      display: block;
      margin-top: 10px;
      margin-bottom: 5px;
      line-height: 1.2;
    }
    .message {
      font-weight: bold;
    }
  }

  .board-holder {
    padding: 15px;
    padding-left: 1px; // Since the left side of the board has numbers.
    border-radius: $radius;
    background-color: $color-lighter-bkgd;

    display: inline-block;
    float: left;
    margin-left: 20px;

    @media screen and (max-width: $responsive-width) {
      display: inline-block;
      float: none;
      margin: 0px auto;
    }
  }

  .board {
    // Width and height set in the React component.

    // Cell colors
    .cell {
      display: block;
      float: left;
      line-height: 1;
      margin: 0px;
      padding: 0px;
      border: 0px;
      text-align: center;
    }
    .light {
      background-color: $board-light-color;
    }
    .dark {
      background-color: $board-dark-color;
    }
    .internal {
      padding-top: 7px;
      font-weight: bold;
      border-bottom: 4px solid black;
    }
    .internal-light {
      background-color: #d2d2d2;
    }
    .internal-dark {
      background-color: #b2b2b2;
    }

    // Cell content
    .queen {
      color: black;
      padding-top: 5px;
    }
    .number {
      color: black;
      padding-top: 10px;
      padding-right: 7px;
      font-weight: bold;
      text-align: right;
    }

    // Cell content types -- placed here so they override default cell content
    // above.
    .current {
      color: $color-cur;
    }
    .conflict {
      color: $color-bad;
    }
    .solved {
      color: $color-solve;
    }
  }

  .panel {
    display: inline-block;
    width: 100%;
    background-color: $color-lighter-bkgd;
    border-radius: $radius;
    margin-top: 15px;
    padding: 5px 0px;
  }
}
