/* start custom scss snippet */

//
// Modal
//

/* The Modal (background) */
.custom__modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.custom__modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.custom__modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}

//
// Item descriptions, specifically for project page
//

div.item__content h3.project-header {
  margin-bottom: 0px;
}

div.item__description p.project-date {
  margin-top: 0px;
}

//
// Dark Mode Switch
// Source: https://www.w3schools.com/howto/howto_css_switch.asp
//

// The box around the slider.
.dark-mode-toggle {
  $overall-width: 44px;
  $overall-height: 24px;
  $switch-size: 20px;
  $switch-movement: 20px;

  margin-right: 4px;
  position: relative;
  top: 5px;
  display: inline-block;
  width: $overall-width;
  height: $overall-height;

  // The slider.
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #555;
    transition: 0.2s;
    border-radius: $overall-height; // Rounded.

    // The circular "switch"; it move around in the slider.
    &:before {
      position: absolute;
      content: "";
      height: $switch-size;
      width: $switch-size;
      left: 2px;
      bottom: 2px;
      background-color: white;
      transition: 0.2s;
      border-radius: 50%; // Rounded.
    }

    // The text labels for "on" and "off".
    .text {
      width: $overall-width / 2;
      height: $overall-height;
      display: block;
      float: left;
      margin: 0px;
      padding: 0.5px 0px 0px 0px;
      text-align: center;
      vertical-align: middle;
      color: yellow;
      font-size: 15px;
    }
  }

  input:checked + .slider {
    // Currently no styling.
  }
  input:checked + .slider:before {
    transform: translateX($switch-movement);
  }

  // Hide the actual checkbox.
  .dark-mode-switch {
    display: none;
  }
}

/* end custom scss snippet */
